# Framework Django
asgiref==3.12.1
Django==6.1
sqlparse==0.5.5
Pillow==12.3.0

#swagger
drf-spectacular==0.30.0

# API REST
djangorestframework==3.18.0
djangorestframework-simplejwt

# CORS
django-cors-headers==4.9.0

# Database
psycopg2-binary==2.9.12

# .env
python-decouple==3.8

# Tests
pytest==9.1.1
pytest-django==4.13.0
coverage==7.15.4

#Linter
ruff==0.16.2