# Framework Django
asgiref==3.11.1
Django==6.0.6
sqlparse==0.5.5
Pillow==12.2.0

#swagger
drf-spectacular==0.29.0

# API REST
djangorestframework==3.17.1
djangorestframework-simplejwt

# CORS
django-cors-headers==4.9.0

# Database
psycopg2-binary==2.9.12

# .env
python-decouple==3.8

# Tests
pytest==9.0.3
pytest-django==4.12.0
coverage==7.14.1

#Linter
ruff==0.15.16