@import "tailwindcss";
/* Import Font Family */
@theme {
    /* Colors */
    --color-white-purple: #FBF2F2;
    --color-light-purple: #B57BB7;
    --color-grey-purple: #CFC1D0;
    --color-highlight-purple: #A34CA8;
    --color-dark-purple: #6E3D70;
    --color-error-purple: #5E1E22;

    /* Font Families */
    --font-heading: "Truculenta", sans-serif;
    --font-body: "Roboto", sans-serif;
}

:focus-visible {
  outline: 2px solid var(--color-highlight-purple);
  outline-offset: 2px;
  border-radius: 4px;
}